body {
    background-color: pink;
    color: #fff;
    font-family: Arial, sans-serif;
}

#messages {
    list-style-type: none;
    padding: 0;
    height: 80vh;
    overflow-y: auto;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.message-text {
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#messages li {
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: #0080ff;
    color: #fff;
    word-wrap: break-word;
}

#input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

#button {
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    background-color: #0080ff;
    color: #fff;
    border: none;
}

#button:hover {
    background-color: #0059b3;
}